<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="53027TomRudick.SeattleAlerts" Version="1.1.0.0" Publisher="CN=6A76D30F-CFFA-4CC5-91C1-370888043632" />
  <Properties>
    <DisplayName>Seattle Alerts</DisplayName>
    <PublisherDisplayName>The Monadics</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="Seattle Alerts" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="Seattle Alerts maps the most recent Police, Fire, and EMS 911 incidents. New incidents are automatically pulled in and mapped while the application is running. All data sourced from http://data.seattle.gov." ForegroundText="light" BackgroundColor="#5D9632">
        <DefaultTile ShowName="allLogos" ShortName="Seattle Alerts" />
        <SplashScreen Image="images\splashscreen.png" BackgroundColor="#5D9632" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>